In [26]:
from pathlib import Path
import pandas as pd

file = Path(r"C:1.2.5 cutoff\1\SrTiO3_0.5_0.data")
data = pd.read_csv(file, delimiter=" ", header= 10, nrows=57688).reset_index()
atom_data = data
atom_data.columns = ["index", "Atom", "Charge", "x", "y", "z","x_velocity","y_veloctiy", "z_velocity"]
atom_data.set_index("index", inplace= True)

In [27]:
atom_data

,Atom,Charge,x,y,z,x_velocity,y_veloctiy,z_velocity
index,,,,,,,,
1,1,1.2,473.831639,47.130555,11.8350,0,0,0
2,3,-1.2,471.859215,47.147857,13.8075,0,0,0
3,1,1.2,469.886791,47.165159,11.8350,0,0,0
4,3,-1.2,467.914367,47.182461,13.8075,0,0,0
5,1,1.2,465.941942,47.199763,11.8350,0,0,0
...,...,...,...,...,...,...,...,...
57684,3,-1.2,241.068291,47.199763,13.8075,0,0,0
57685,3,-1.2,243.023413,45.210037,13.8075,0,0,0
57686,3,-1.2,243.040715,47.182461,11.8350,0,0,0
57687,1,1.2,244.995838,45.192735,11.8350,0,0,0
57688,2,2.4,246.985564,47.147857,13.8075,0,0,0

In [87]:
b = atom_data[atom_data["Atom"] == 3].reset_index(drop=True)
b.index = b.index + 1
b

,Atom,Charge,x,y,z,x_velocity,y_veloctiy,z_velocity
1,3,-1.2,471.859215,47.147857,13.8075,0,0,0
2,3,-1.2,467.914367,47.182461,13.8075,0,0,0
3,3,-1.2,463.969518,47.217065,13.8075,0,0,0
4,3,-1.2,460.024670,47.251669,13.8075,0,0,0
5,3,-1.2,456.079822,47.286273,13.8075,0,0,0
...,...,...,...,...,...,...,...,...
34592,3,-1.2,239.078565,45.244641,13.8075,0,0,0
34593,3,-1.2,239.095867,47.217065,11.8350,0,0,0
34594,3,-1.2,241.068291,47.199763,13.8075,0,0,0
34595,3,-1.2,243.023413,45.210037,13.8075,0,0,0
34596,3,-1.2,243.040715,47.182461,11.8350,0,0,0

In [43]:
atom_data = data.iloc[10:int(data.iloc[0,0]) + 10,0:9]
atom_data.columns = ["index", "Atom", "Charge", "x", "y", "z","x_velocity","y_veloctiy", "z_velocity"]
atom_data["x"] = atom_data["x"].astype(float)
atom_data.set_index("index", inplace=True)

In [44]:
atom_data

,Atom,Charge,x,y,z,x_velocity,y_veloctiy,z_velocity
index,,,,,,,,
1,1,1.2,473.831639,47.130555,11.8350,0.0,0.0,0.0
2,3,-1.2,471.859215,47.147857,13.8075,0.0,0.0,0.0
3,1,1.2,469.886791,47.165159,11.8350,0.0,0.0,0.0
4,3,-1.2,467.914367,47.182461,13.8075,0.0,0.0,0.0
5,1,1.2,465.941942,47.199763,11.8350,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
57684,3,-1.2,241.068291,47.199763,13.8075,0.0,0.0,0.0
57685,3,-1.2,243.023413,45.210037,13.8075,0.0,0.0,0.0
57686,3,-1.2,243.040715,47.182461,11.8350,0.0,0.0,0.0
57687,1,1.2,244.995838,45.192735,11.8350,0.0,0.0,0.0
57688,2,2.4,246.985564,47.147857,13.8075,0.0,0.0,0.0

In [45]:
new = atom_data[~((atom_data["x"] > 1.9897) & (atom_data["x"] < 195.28) & (atom_data["y"] < 1.9551) & (atom_data["y"] > 0.25952))]

In [46]:
new

,Atom,Charge,x,y,z,x_velocity,y_veloctiy,z_velocity
index,,,,,,,,
1,1,1.2,473.831639,47.130555,11.8350,0.0,0.0,0.0
2,3,-1.2,471.859215,47.147857,13.8075,0.0,0.0,0.0
3,1,1.2,469.886791,47.165159,11.8350,0.0,0.0,0.0
4,3,-1.2,467.914367,47.182461,13.8075,0.0,0.0,0.0
5,1,1.2,465.941942,47.199763,11.8350,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
57684,3,-1.2,241.068291,47.199763,13.8075,0.0,0.0,0.0
57685,3,-1.2,243.023413,45.210037,13.8075,0.0,0.0,0.0
57686,3,-1.2,243.040715,47.182461,11.8350,0.0,0.0,0.0
57687,1,1.2,244.995838,45.192735,11.8350,0.0,0.0,0.0
57688,2,2.4,246.985564,47.147857,13.8075,0.0,0.0,0.0

In [ ]:
from pathlib import Path
import pandas as pd


class AtomDeleter:
    def __init__(self, path=r"1.2.5 cutoff\1\SrTiO3_0.5_0.data"):
        self.file = Path(path)
        self.data = pd.read_csv(self.file, delimiter=" ", header= 0, index_col= "LAMMPS")

        # Extracting atom data (adjust ranges to your file structure)
        self.atom_data = self.data.iloc[
            10 : int(self.data.iloc[0, 0]) + 10, 0:9
        ].astype(float)
        self.atom_data.columns = [
            "index",
            "Atom",
            "Charge",
            "x",
            "y",
            "z",
            "x_velocity",
            "y_velocity",
            "z_velocity",
        ]
        self.atom_data.set_index("index", inplace=True)


    def save(self):
        """Save to a new file"""
        self.updated_data.to_csv(
            r"1.2.5 cutoff\1\SrTiO3_0.5_00.data", sep=" ", index=False, header=False
        )


if __name__ == "__main__":
    deleter = AtomDeleter()
    deleter.save()

C:\Users\zek\AppData\Local\Temp\ipykernel_10748\3343430980.py:8: DtypeWarning: Columns (0,1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  self.data = pd.read_csv(self.file, delimiter=" ", header= 0, index_col= "LAMMPS")

ValueError: invalid literal for int() with base 10: 'atoms'

In [4]:
deleter.updated_data

,LAMMPS,data,file,via,"write_data,",version,17,Apr,"2024,",timestep,...,=.1,metal,Atom,Charge,x,y,z,x_velocity,y_velocity,z_velocity
0.0,57688,atoms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,3,atom,types,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,0,475.040906133356,xlo,xhi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,-47.5040906133356,47.5040906133356,ylo,yhi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,0,15.78,zlo,zhi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57684.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,-1.2,241.068291,47.199763,13.8075,0.0,0.0,0.0
57685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,-1.2,243.023413,45.210037,13.8075,0.0,0.0,0.0
57686.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,-1.2,243.040715,47.182461,11.8350,0.0,0.0,0.0
57687.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.2,244.995838,45.192735,11.8350,0.0,0.0,0.0
57688.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,2.4,246.985564,47.147857,13.8075,0.0,0.0,0.0